#!/bin/sh

[Desktop Entry]
Name=Wacom Tablet Button Setup
Terminal=false
Type=Application
Icon=input-tablet
Categories=Graphics;Preferences;
Comment=Wacom Intuos S Tablet Setup
Exec=xsetwacom.sh

