[Desktop Entry]
Name=Delete File Script
Terminal=false
Type=Application
Icon=user-trash-full
Categories=Utility
Comment=Deletes a File
Exec="Remove File Script.sh" file
Name[en_AU]=Remove File Script
